importFrom("RCurl", "getURL")
importFrom("XML", "htmlParse", "xpathSApply", "xpathApply", "xmlValue")
importFrom("utils", "write.csv")
importFrom("data.table", "rbindlist")

export(scraEP)
export(xscrape)
